# Environnement virtuel local
.venv/
venv/
env/

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers générés automatiquement
output/
build/
dist/

# Caches et logs
*.log
.cache/
.DS_Store
.idea/
.vscode/

# Fichiers système
Thumbs.db
